/*root gør det nemt at skifte farven på alt der er grønt på en gang*/
:root {
  --primary-color: #7aa04c;
  --secondary-color: #1f3647;
  --White-color: rgb(240, 245, 255);
}
/*body er generelt hjemmeside udseene som baggrund og font type*/
body {
  background: var(--secondary-color);
  margin: 0;
  font-family: "Poppins";
}

.navbar {
  background: white;
  padding: 1.1em;

  .logo {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
    color: var(--secondary-color);
    span {
      color: #5598cb;
    }
  }
  nav {
    display: none;
  }
  .container {
    display: flex;
    place-content: space-between;
  }
  .mobile-menu {
    cursor: pointer;
    height: 14px;
    padding-top: 4px;
  }
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.img-social {
  .insta,
  .face {
    max-width: 50px;
    max-height: 50px;
    margin-right: 1em;
    padding-top: 1em;
    float: right;
  }
}
.hero {
  text-align: center;
  margin: auto;
  width: 90%;

  h1 {
    color: var(--White-color);

    font-size: 2em;

    margin-top: 3.5em;
  }

  .beskrivelse {
    font-size: 1.1em;
    text-align: left;

    margin-top: 5em;

    color: #5598cb;
  }
}
.info-kst, .info-hp {
  font-size: 3vmin;
  margin-right: 1em;
  color: var(--primary-color);

  img {
    vertical-align: text-bottom;

    margin-left: 0.5em;
    margin-top: 20px;
    filter: invert(59%) sepia(15%) saturate(1151%) hue-rotate(45deg)
      brightness(95%) contrast(96%);
  }
}

.hero-cta {
  text-align: left;

  .hero-img {
    width: 180px;
    height: auto;
    float: right;
    border-radius: 20em;
  }
  .cta-tekst {
    font-size: 1.5em;
    margin-top: 7em;
    font-weight: bold;
    margin-bottom: 1.5em;

    color: rgb(236, 242, 255);
  }

  .maila {
    font-size: 1em;
    text-decoration: none;
    text-transform: none;
    color: var(--White-color);
    font-weight: bold;

    background: var(--primary-color);
    padding: 0.5em;
    border-radius: 50px;
  }
}

.behandling-info .container {
  text-align: center;
  margin-top: 4em;
  width: 100%;
  background-color: #5598cb;

  .behandling-head {
    margin: 5%;
    padding-top: 4em;
    text-align: left;
    font-weight: bold;
    font-size: 1.8em;
    
  }
  
}
.behandlings-liste {
   
  margin-top: 3em;
  margin-bottom: 3em;
text-align: left;
  columns: 2;
  padding: 3em 1em;
  background-color: var(--primary-color);
  border-radius: 25px;

  
  @media only screen and(min-width: 775px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    
  }

  li {
    margin-top: 2em;
   
    
    margin-left: 3em;
    
    position: relative;
    font-size: 2.5vmin;
    font-weight: bold;

    &:before {
      content: "";
      left: -6em;
      position: absolute;
      width: 26px;
      height: 26px;
      background-image: url("../images/dog-paw-svgrepo-com.svg");
      background-size: contain;
      margin-left: 3em;
    
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(82deg)
        brightness(105%) contrast(105%);
    }
  }
}

.cases-section {
  margin: auto;
  width: 90%;
  padding: 4em 0;
  li{
    overflow: hidden;
    margin-top: 3vmax;
    cite{
      color: var(--White-color);
      margin-inline-start: 20px; 
      font-size: 4vmin;
      
    }
    img{
      float: left;
     border-radius: 15px;
height: auto;
width: 15vmax;
    } 
blockquote{
  color: #5598cb;
  font-size: 3.3vmin;
  padding-left: 1em;
  display: flex;
 }
  }
}
nav.menu.btn {
  display: block;
}
nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background-color: var(--primary-color);
  height: 100vh;
  padding: 1em;
  justify-content: space-around;
  display: flex;
  .primær-nav {
    margin-top: 3em;
  }

  a {
    color: rgb(240, 245, 255);
    font-size: 17px;
    text-decoration: none;
    display: block;
    padding: 0.5em;

    text-align: right;
    &:hover {
      font-weight: bold;
    }
  }
}
nav.menu-btn {
  display: block;
}
.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}
@media only screen and(min-width: 700px) {
  .hero {
    text-align: left;
    h1 {
      text-align: center;
      font-size: 2.5em;
    }
    .beskrivelse {
      font-size: 1.3em;
    }
    .info-kst, .info-hp {
      
      font-size: 1.1em;
    }
  }
  .hero-cta {
    .cta-tekst {
      font-size: 1.6em;
    }
    .maila {
      font-size: 1.5em;
    }
    .hero-img {
      height: auto;
      width: 230px;
      margin-top: -4em;
    }
  }
  .behandling-info .container {
    text-align: left;
    .behandling-head {
      font-size: 2em;
    }
    .behandlings-liste {
      font-size: 1.1em;
    }
  }
  
}
@media only screen and(min-width: 800px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }

  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: unset;
  }

  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: 1em;
    width: 100%;

    padding: 0;

    ul {
      display: flex;
      li a {
        color: #1f3647;
        font-size: 17px;

        padding: 0px 1em;
      }
    }

    ul.primær-nav,
    .sec-nav {
      margin: 4px;
    }
    li.current a {
      font-weight: bold;
    }
    li.kontakt-btn a {
      color: var(--primary-color);
      border: 3px solid var(--primary-color);
      font-weight: bold;
      border-radius: 5em;
      margin-top: -3px;
      &:hover {
        background-color: var(--primary-color);
        color: white;
      }
    }
  }
  .hero-cta {
    .hero-img {
      height: auto;
      width: 280px;
      margin-top: -4em;
    }
  }
}
@media only screen and(min-width: 1040px) {
  .navbar {
    .logo {
      font-size: 24px;
    }
    nav {
      ul {
        display: flex;
        li a {
          color: #1f3647;
          font-size: 20px;

          padding: 0px 1em;
        }
      }
    }

    ul.primær-nav,
    .sec-nav {
      margin: 4px;
    }
    li.current a {
      font-weight: bold;
    }
    li.kontakt-btn a {
      color: var(--primary-color);
      border: 3px solid var(--primary-color);
      font-weight: bold;
      border-radius: 5em;
      margin-top: -3px;
      &:hover {
        background-color: var(--primary-color);
        color: white;
      }
    }
  }
  .hero {
    text-align: left;
    h1 {
      font-size: 3em;
    }
    .beskrivelse {
      font-size: 1.4em;
    }
    .info-kst, .info-hp {
      font-size: 1.2em;
    }
  }
  .hero-cta {
    .cta-tekst {
      font-size: 1.8em;
    }
    .maila {
      font-size: 1.7em;
    }
    .hero-img {
      height: auto;
      width: 400px;
      margin-top: -7em;
    }
  }
  .behandling-info .container {
    text-align: left;
    .behandling-head {
      font-size: 2.2em;
    }
    
  }
  
}
@media only screen and(min-width: 1200px) {
  .hero {
    text-align: left;
    h1 {
      font-size: 3.4em;
      text-align: left;
    }
    .beskrivelse {
      font-size: 1.6em;
    }
    .info-kst, .info-hp {
      font-size: 1.4em;
    }
  }
  .hero-cta {
    .cta-tekst {
      font-size: 2em;
    }
    .maila {
      font-size: 1.9em;
    }
    .hero-img {
      height: auto;
      float: right;
      width: 500px;
      margin-top: -16em;
    }
  }
  .behandling-info .container {
    text-align: left;
    .behandling-head {
      font-size: 2.3em;
    }
    
  }
  
}

//behandling

.behandling-main {
  text-align: left;
  margin: auto;
  width: 90%;
  .center-main {
    .subhead-kst{
      color: var(--primary-color);
    font-size: 1.2vmax;
    margin-top: 2.5vmax;
    margin-right: 52%;
    }
    h1 {
      margin-top: 3em;
      font-size: 3.2vmax;
      color: var(--White-color);
    }
    .KST-beskrivelse {
      color: #5598cb;
      font-size: 1.7vmax;
      margin-top: 2.7vmax;
    }
    .info-priser {
      padding-bottom: 3em;
      color: var(--primary-color);
      font-size: 1.7vmax;
      img {
        vertical-align: text-bottom;
        margin-right: 0.5em;
        margin-left: 0.5em;
        margin-top: 20px;
        filter: invert(59%) sepia(15%) saturate(1151%) hue-rotate(45deg)
          brightness(95%) contrast(96%);
      }
    }
    h2{
      margin-top: 3em;
      font-size: 2.8vmax;
      color: var(--White-color);
    }
    .behandlings-gang{
    
      color: #5598cb;
      font-size: 1.7vmax;
      margin-top: 2.7vmax;
   
    }
    //form her
  }
  .Alba-skov {
    display: none;
  }
}

//HUNDEPASNING SIDE

.hundepasning-main {
  text-align: left;
  margin: auto;
  width: 90%;

  //pasningside overskrift 1
  h1 {
    margin-top: 3em;
    font-size: 3.2vmax;
    color: var(--White-color);
  }
  .hundepasning-beskrivelse {
    color: #5598cb;
    font-size: 1.8vmax;
    margin-top: 2.8vmax;
  }

  //Liste Standard pasning

  .standard-pl {
    margin-top: 3em;
    ul {
      li {
        font-weight: bold;

        font-size: 1.5vmax;
        color: var(--primary-color);

        img {
          vertical-align: text-bottom;
          margin-right: 0.5em;
          margin-top: 2em;
          filter: invert(59%) sepia(15%) saturate(1151%) hue-rotate(45deg)
            brightness(95%) contrast(96%);
        }
      }
    }
  }

  //pasningside overskrift 2 døgnpasning
  //den her styre også overskriften til minihundehaven (h2)

  h2 {
    margin-top: 3em;
    font-size: 3.2vmax;
    color: var(--White-color);
  }
  
  .døgn-beskrivelse {
    color: #5598cb;
    font-size: 1.8vmax;
    margin-top: 2.8vmax;
    span{
      color: #7aa04c;
    }
  }

  //Døgn pasnings liste

  .døgn-pl {
    margin-top: 3em;
    ul {
      

      li {
        font-weight: bold;

        font-size: 1.5vmax;
        color: var(--primary-color);

        img {
          vertical-align: text-bottom;
          margin-right: 0.5em;
          margin-top: 2em;
          filter: invert(59%) sepia(15%) saturate(1151%) hue-rotate(45deg)
            brightness(95%) contrast(96%);
        }
      }
    }
  }

 

  
  //selve teksten
  .onsdag-beskrivelse {
    color: #5598cb;
    font-size: 1.8vmax;
    margin-top: 2.8vmax;
    
    
  }
  //link under tekst ved onsdags minihundehave
  .priser-hpl {
    color: var(--primary-color);
    font-size: 1.7vmax;

    img {
      vertical-align: text-bottom;

      margin-left: 0.5em;
      margin-top: 20px;
      filter: invert(59%) sepia(15%) saturate(1151%) hue-rotate(45deg)
        brightness(95%) contrast(96%);
    }
  }
  //kalenderen
  iframe {
    margin-top: 3vw;
    height: 40vmax;
    width: 45vmax;
    
  }
}
.priser-main{
  box-sizing: border-box;
  text-align: left;
  margin: auto;
  width: 90%;
  h1{ 
    margin-top: 3em;
    
    font-size: 3.2vmax;
    color: var(--White-color);
  }
  .priserher{
    color: var(--primary-color);
    font-size: 1.7vmax;

    img {
      vertical-align: text-bottom;

      margin-left: 0.5em;
      margin-top: 20px;
      filter: invert(59%) sepia(15%) saturate(1151%) hue-rotate(45deg)
        brightness(95%) contrast(96%);
    }
  }
  h2{
    margin-top: 3em;
    margin-bottom: 2em;
    font-size: 3.2vmax;
    color: var(--White-color);
  }
  .row{
    padding-top: 6em;
  }
  ul{
    color: #5598cb;
    font-size: 1.7vmax;
    margin-bottom: 6em;
    
   li{
     margin-top: 1vmin;
     font-size: 1vmax;
   }
  }
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .row{
    margin: 0;
  }
 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s; /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: var(--White-color);
    border-radius: 25px;
  }
}
//HUNDEPASNING SCALING

@media only screen and(min-width: 800px) {
  .priser-main{
    .column {
      float: left;
      width: 30%;
      padding: 0 10px;
    }
}
  .behandling-main{
    
    .KST-beskrivelse{
      margin-right: 52%;
    }
    .Alba-skov{
      display: block;
      float: right;
      height: auto;
      width: 45vmax;  
      margin-left: 1em;
    }
  }
  .hundepasning-main {
    //flytter listerne over til højre ved at placere dem i 2 colloner med (grid)
    .standard-pl {
      display: grid;
      
      grid-template-columns: 50% 50%;
      ul {
        margin-left: 3em;

        li {
          margin-right: 2em;
          font-weight: bold;

          font-size: 1.3vmax;
          color: var(--primary-color);
        }
      }
    }
    .døgn-pl {
      display: grid;
   
      grid-template-columns: 50% 50%;
      
      ul {
        margin-left: 3em;

        li {
          margin-right: 2em;
          font-weight: bold;

          font-size: 1.3vmax;
          color: var(--primary-color);
        }
      }
    }
  }
  .kalender-main{
    display: grid;
   
    grid-template-columns: 50% 50%;
    
   .onsdag-beskrivelse{
     margin-right: 1em;
   }
   iframe {
    margin-top: 3vw;
    height: 35vmax;
    width: 40vmax;
    
  }
}
}
